@page "/"

<h1>Welcome to FarmGate!</h1>

<ul>
 <li> <NavLink href="/commodity-data-entry">Go to Commodity Data Entry</NavLink></li>

<li><NavLink href="/admin/admin">Go to Admin</NavLink></li>


</ul>